<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="udemy.com"> The Complete Ruby Developer</a>
      by <a href="test.com">Matt Williamson</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", articles_path %></li>
      </ul>
    </nav>
  </footer>
</div>
